<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">

	<select id="duplicatedMemberCheck" parameterType="String" resultType="MemberDto"> 
		SELECT 
				*
		FROM
				T_SPRING_MEMBER
		WHERE
				MEMBER_ID = #{memberID}
	</select>

	<insert id="insertMember" parameterType="MemberDto">
		INSERT INTO 
				T_SPRING_MEMBER 
		VALUES (
				#{memberId},
				#{memberPw},
				#{memberName},
				#{memberGender},
				#{memberBirthY},
				#{memberBirthM},
				#{memberBirthD},
				#{memberBirthGn},
				#{hp1},
				#{hp2},
				#{hp3},
				#{smsstsYn},
				#{email},
				#{emailstsYn},
				#{zipcode},
				#{roadAddress},
				#{jibunAddress},
				#{namujiAddress},
				NOW(),
				#{etc}
		 )
	</insert>	
	
	<select id="loginMember" parameterType="String" resultType="MemberDto">
		SELECT
				*
		FROM
				T_SPRING_MEMBER
		WHERE
				MEMBER_ID = #{memberId}
	</select>
	
	<select id="selectListMember" resultType="MemberDto">
		SELECT
				*
		FROM
				T_SPRING_MEMBER
	</select>
	
	<select id="selectOneMember"  parameterType="String" resultType="MemberDto">
		SELECT
				*
		FROM
				T_SPRING_MEMBER
		WHERE
				MEMBER_ID = #{memberId}
	</select>
	
	<update id="updateMember" parameterType="MemberDto">
		UPDATE
				T_SPRING_MEMBER
		<set>
			<if test='memberNm != null and !memberNm.equals("")'>
				MEMBER_NM = #{memberNm},
			</if>
			<if test='sex != null and !sex.equals("")'>
				SEX = #{sex}, 
			</if>
			<if test='birthDt != null and !birthDt.equals("")'>
				BIRTH_DT = #{birthDth}, 
			</if>
			<if test='hp != null and !hp.equals("")'>
				HP = #{hp},  
			</if>
			<if test='smsstsYn != null and !smsstsYn.equals("")'>
				SMSSTS_YN = #{smsstsYn},  
			</if>
			<if test='email != null and !email.equals("")'>
				EMAIL = #{email}, 
			</if>
			<if test='emailstsYn != null and !emailstsYn.equals("")'>
				EMAILSTS_YN = #{emailstsYn},  
			</if>
			<if test='zipcode != null and !zipcode.equals("")'>
				ZIPCODE = #{zipcode},  
			</if>
			<if test='roadAddress != null and !roadAddress.equals("")'>
				ROAD_ADDRESS = #{roadAddress},
			</if>
			<if test='jibunAddress != null and !jibunAddress.equals("")'>
				JIBUN_ADDRESS = #{jibunAddress},  
			</if>
			<if test='namujiAddress != null and !namujiAddress.equals("")'>
				NAMUJI_ADDRESS = #{namujiAddress},  
			</if>
			<if test='etc != null and !etc.equals("")'>
				ETC = #{etc}
			</if>
		</set>
		WHERE
				MEMBER_ID = #{memberId}
	</update>	

	<delete id="deleteMember" parameterType="String">
		DELETE FROM
				T_SPRING_MEMBER
		WHERE
				MEMBER_ID = #{memberId}
	</delete>

</mapper>